<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         backupStaticProperties="false"
>
  <testsuites>
    <testsuite name="Laratrust Test Suite">
      <directory suffix="Test.php">./tests/</directory>
      <exclude>./tests/Middleware/MiddlewareTest.php</exclude>
    </testsuite>
  </testsuites>
</phpunit>
